PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/bany-talks
JWT_SECRET=change-me-bany-blog-secret
FRONTEND_URL=https://banyofficial.com
ADMIN_URL=https://admin.banyofficial.com
CONTACT_EMAIL=contact@banyofficial.com
